
{% extends 'base.html' %}
{% block head %}
<title>Submit Tasks</title>
{% endblock %}
{% block body %}
<div class='submit-tasks'>
  <div class="floating-box">
    <div class='row'>
        <a href='/authentication/login' style='color: darkorange; text-decoration: none'>Go back</a>
        <div class='content col-lg-6 col-md-6 col-sm-12 col-xs-12'>
            <h2 style='color: #ccc'>Page doesn't exist.</h2>
            <p class='note'>Let Rakin or Rafi know and good luck!</p>

        </div>
    </div>
  </div>
</div>
{% endblock %}
