{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class='course-page'>
    <div class='container'>
        <div class='header-area'>
            <h1>{{section_name}}</h1>
            <div class='nav'>
                <p><span onclick='window.location.href="/"'>Dashboard</span> <span><strong>❭❭</strong></span> {{section_name}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            {% for vid in unlocked_vids %}
            <div class="col-md-4">
                <div class='thumbnail' onclick='window.location.href="video/{{vid.id}}/"'>
                    <div class="play-button"><img src="https://img.youtube.com/vi/{{vid.url}}/maxresdefault.jpg" style='width: 100%'></div>
                    <div class="video-title">{{ vid.name }}</div> <!-- Added video title -->
                </div>
            </div>
            {% endfor %}

            {% for vid in locked_vids %}
            <div class="col-md-4">
                <div class='thumbnail'>
                    <div class="lock"><div class='overlay'></div><img src="https://img.youtube.com/vi/{{vid.url}}/maxresdefault.jpg" style='width: 100%'></div>
                    <div class="video-title">{{ vid.name }}</div> <!-- Added video title -->
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}