{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create Account</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login-form/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login-form/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method='POST' action='/authentication/create-account/'>
					{%csrf_token%}
					<img class='white-logo-transparent' href="{% static 'login-form/images/white-logo-transparent.png' %}" />
					

					<span class="login100-form-title p-b-34 p-t-27">
						Create new account
					</span>
					{% for element in register_form %}
					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						{{element}}
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					{% endfor %}
					<script>
						for(i = 0; i < document.querySelectorAll('#id_username, #id_email, #id_password1, #id_password2').length; i++){
							var item = document.querySelectorAll('#id_username, #id_email, #id_password1, #id_password2')[i]
							item.classList.add('input100')
							
						}
						document.getElementById('id_username').placeholder = 'Username'
						document.getElementById('id_email').placeholder = "Email";
						document.getElementById('id_password1').placeholder = "Password";
						document.getElementById('id_password2').placeholder = "Confirm Password";
					</script>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Create
						</button>
					</div>
					<p>
						<br/>
						{% for error in errors %}
							{{error}}
						{% endfor %}
						{% for field in form_errors %}
							{% for error in field %}
								{{error.message}}
								<br/>
							{% endfor %}
						{% endfor %}
						
					</p>
					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'login-form/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login-form/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login-form/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login-form/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login-form/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login-form/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login-form/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login-form/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login-form/js/main.js' %}"></script>

</body>
</html>