{% extends 'base.html' %}
{% block head %}
<title>Dashboard</title>
{% endblock %}
{% block body %}
<div class='ucat-dashboard dashboard container-fluid'>
    <div class='row'>
    
        <div class='content col-lg-10 col-md-10 col-sm-12 col-xs-12'>
            <h2 id='dashboard-learn-h2'>Learn:</h2>
            <div class='main-container' onclick='window.location.href="/course-page/{{current_section.id}}/"'>
                <!-- <div class='main'>
                    <div class='section-title'>
                        <h1>{{current_section.section.name}}</h2>
                    </div>
                    <div class='skills-mastered'>
                        <h3 class='heading'>Skills Mastered</h3>
                        <p class='bigger'>{{skills_mastered}}</p>
                        <p class='smaller'>out of 12</p>
                    </div>
                </div> -->
                
            </div>
            <div class='start-dates'>
                <div class='container'>
                    <div class='row' id='top'>
                        
                            <div class='card_ col-lg-6 col-md-6 col-sm-12 col-xs-12' onclick="window.location.href='/course-page/{{sectionId1}}/'">
                                
                                <div class='redirect-box'>

                                    <h3>Decision Making</h3>

                                </div>
                            </div>
                            <div class='card_ col-lg-6 col-md-6 col-sm-12 col-xs-12' onclick="window.location.href='/course-page/{{sectionId2}}/'">
                                <div class='redirect-box'>
                                    <h3>Quantitative Reasoning</h3>

                                </div>
                            </div>
                            <div class='card_ col-lg-6 col-md-6 col-sm-12 col-xs-12' onclick="window.location.href='/course-page/{{sectionId3}}/'">
                                <div class='redirect-box'>
                                    <h3>Abstract Reasoning</h3>

                                </div>
                            </div>
                            <div class='card_ col-lg-6 col-md-6 col-sm-12 col-xs-12' onclick="window.location.href='/course-page/{{sectionId4}}/'">
                                <div class='redirect-box'>
                                    <h3>Verbal Reasoning</h3>

                                </div>
                            </div>
                            <div class='card_ col-lg-6 col-md-6 col-sm-12 col-xs-12' onclick="window.location.href='/course-page/{{sectionId5}}/'">
                                <div class='redirect-box'>
                                    <h3>SJT + Exam Strategy</h3>

                                </div>
                            </div>


                    </div>
                </div>
            </div>
        </div>
        <div class='sidebar col-lg-2 col-md-2 col-sm-12 col-xs-12'>
            <div class='sidebar-content'>
                
                <div class='heading'>
                    <h3>This week's UCAT plan:</h3>
                </div>
                <hr/>
                <div class='tutor-checklist'>
                    <h5>Mentor tasks:</h5>
                    <ul style="list-style: none; padding-left: 0;">
                        {% for task, task_done in tasks.items %}
                        <li id="task-{{task.id}}" class="d-flex align-items-center">
                            <input style="accent-color: darkorange; margin-right: 10px;" id="{{forloop.counter}}" {% if task_done %} checked {% endif %} onchange="handleTaskCheck(this)" type="checkbox">
                            <label id="label{{forloop.counter}}" style="flex-grow: 1;">{{task}}</label>
                            <i class="fas fa-trash-alt" id="{{forloop.counter}}" style="cursor: pointer; color: white;" onclick="handleTaskDel(this)"></i>
                            <hr/>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if no_tasks %}
                        <p>You're all caught up.</p>
                    {% endif %}
                </div>
                <script>
                    function handleTaskCheck(obj){
                        console.log("label"+obj.id)
                        let task_content_exact = document.getElementById("label"+obj.id).innerHTML;
                        let constructed_url = "";
                        var ucat_student_id = "{{ ucat_student.id }}";  // Grabbing the Django variable
                        if (obj.checked) {
                            constructed_url = "/alter-ucat-task/True/" + task_content_exact + "/" + ucat_student_id + "/";
                        } else {

                            constructed_url = "/alter-ucat-task/False/" + task_content_exact + "/" + ucat_student_id + "/";
                        }

                        window.location = constructed_url;
                        // if obj.value == "on":
                    }
                    function handleTaskDel(obj){

                        let task_content_exact = document.getElementById("label"+obj.id).innerHTML;
                        let constructed_url = "";
                        var ucat_student_id = "{{ ucat_student.id }}";  // Grabbing the Django variable
                        constructed_url = "/delete-ucat-task/" + task_content_exact + "/" + ucat_student_id + "/";
                        

                        window.location = constructed_url;
                        // console.log(constructed_url)
                        // if obj.value == "on":
                    }
                </script>
                <hr/>
                {% comment %} <div class='student-checklist'>
                    <h5>Student Checklist:</h5>
    
                    <input type='text' placeholder='Add item...'/><span class='add-item'>Add</span>
                </div> {% endcomment %}
                <br/>
                
                <!-- <p class='submit' id="subBtn" onclick="window.location.href='submit-progress/'">Submit Progress</p> -->
                <script>
                    // Get all checkboxes and the submit button
                    const checkboxes = document.querySelectorAll('.tutor-checklist input[type="checkbox"]');
                    const submitBtn = document.getElementById("subBtn");

                    // Function to check if any checkbox is checked
                    function isAnyChecked() {
                      return Array.from(checkboxes).some(checkbox => checkbox.checked);
                    }
                  
                    // Function to handle checkbox change events
                    function onCheckboxChange() {
                      if (isAnyChecked()) {
                        submitBtn.classList.add('flash');
                      } else {
                        submitBtn.classList.remove('flash');
                      }
                    }
                  
                    // Attach event listeners to checkboxes
                    checkboxes.forEach(checkbox => {
                      checkbox.addEventListener('change', onCheckboxChange);
                    });
                  </script>
                <!-- <div class='days-counter'>
                    <span class='days'>
                        {{days_to_master}}
                    </span>
                    <h5> days to master <i>Decision Making</i></h5>
                </div> -->
                <div class='logout' style=''>
                <p>Logged in as {{request.user.username}}<br/><br/><span onclick='window.location.href="/logout/"' class='logout-btn'>Log out</span></p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}