{% extends 'base.html' %}
{% block head %}
<title>Submit Tasks</title>
{% endblock %}
{% block body %}
<div class='submit-tasks'>
  <div class="floating-box">
    <div class='row'>
        <a href='/' style='color: darkorange; text-decoration: none'>Uh oh.</a>
        <div class='content col-lg-6 col-md-6 col-sm-12 col-xs-12'>
            <h2 style='color: #ccc'>Maintenance</h2>
            <p class='note'>This section is under maintenance, started at 6/04/2023 1:41am. Check back in 48 hours.</p>

        </div>
    </div>
  </div>
</div>
{% endblock %}