{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link
            href="{% static 'img/favicon-light.png'%}"
            rel="icon"
            media="(prefers-color-scheme: light)"
            />
            <link
            href="{% static 'img/favicon-dark.png'%}"
            rel="icon"
            media="(prefers-color-scheme: dark)"
            />
    <link rel="icon" type="image/png" href="{% static 'favicon-light.ico' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
    
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel='stylesheet' type='text/css' href='{% static "css/style.css"%}'/>
    <link rel='stylesheet' type='text/css' href='{% static "css/base.css"%}'/>

    <script>
        $(document).ready(function() {
            //$('.tab-content').hide();  // Hide all tab content divs by default
            //$('.tab-content:first').show();  // Show the first tab content div by default
    
            $('.nav-link').on("click", function() {
                console.log("testing");
                $('.nav-link').removeClass('show active'); // Remove 'current' class from all tabs
                $('.tab-pane').removeClass('show active'); 
                
                $(this).addClass('show active'); // Add 'current' class to the current tab
                var tab_id = $(this).attr('data-tab'); // Get the data-tab attribute value to identify the tab content div to display
                $("#"+tab_id).addClass('show active'); // Show the current tab content div
            });

            // Function to update the progress bar
            function updateProgressBar() {
                var tasksCompleted = $(".tutor-checklist input[type='checkbox']:checked").length;
                var totalTasks = $(".tutor-checklist input[type='checkbox']").length;
                var progressPercent = Math.floor((tasksCompleted / totalTasks) * 100);
                
                // Update the width of the progress bar
                $("#progress-bar").css("width", progressPercent + "%");
                // Update the aria-valuenow attribute
                $("#progress-bar").attr("aria-valuenow", progressPercent);
            }
            
            // Function to update module progress
            function updateModuleProgress() {
                var modulesCompleted = 3; // The number of modules completed (change it to actual data)
                var totalModules = 5; // Total number of modules (change it to actual data)
                var progressPercent = Math.floor((modulesCompleted / totalModules) * 100);
                var offset = 157.1 - (157.1 * progressPercent) / 100; // Calculate the stroke-dashoffset
                $("#bar1").css("stroke-dashoffset", offset);
            }

            function updateModuleProgressBar(progressPercent) {
                // Calculate the stroke-dashoffset based on the progressPercent
                var strokeDashoffset = (1 - progressPercent / 100) * 157.1;

                // Update the stroke-dashoffset property
                $("#bar1").attr("stroke-dashoffset", strokeDashoffset);
            }
            
            // Call the functions when the page loads
            $(document).ready(function() {
                updateProgressBar();
                updateModuleProgress();
            });
    
            // Add event listener to "Submit Progress" button
            //$('#subBtn').click(function() {
            //    window.location.href = 'submit-progress/';
            //});
        });
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    
    <div class='dashboard container-fluid interview-student'>
        <div class='row'>
            
            <div class='sidebar sidebar-interview-student col-lg-2 col-md-2 col-sm-12 col-xs-12'>
                <div class='sidebar-content'>
                    <nav class="flex-column-custom">
                        <!-- Back button -->
                        <a class="nav-link" onClick="window.history.back();return false;" title="Back">
                            <i class="fas fa-arrow-circle-left"></i>
                        </a>
                        <!-- Home button -->
                        <a class="nav-link" href="/dashboard" title="Home">
                            <i class="fas fa-home"></i>
                        </a>

                        <!-- Tab 1: My Info -->
                        <a class="nav-link active" id="v-pills-home-tab" data-tab="v-pills-home" data-toggle="pill" title="My info">
                            <i class="fas fa-user"></i>
                        </a>
            
                        <!-- Tab 2: Tasks -->
                        <a class="nav-link" id="v-pills-profile-tab" data-tab="v-pills-profile" data-toggle="pill" title="Checklist">
                            <i class="fas fa-check-square"></i>
                        </a>
            
                        <!-- Tab 3: Progress -->
                        <a class="nav-link" id="v-pills-progress-tab" data-tab="v-pills-progress" data-toggle="pill" title="Progress">
                            <i class="fas fa-chart-line"></i>
                        </a>

                       
                        
                        <!-- Logout Button -->
                        <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" title="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                        <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <hr/>
                    </nav>
                    <br/>
                    <div class="tab-content" id="v-pills-tabContent">
                        <!-- Tab 1 Content: My Info -->
                        <div class="tab-pane fade show active" id="v-pills-home">
                            <div class='heading'>
                            </div>
                            <div class='module-progress card'>
                                <h3>Module Progress</h3>
                                <div class="circle" id="module1">
                                    <svg id="svg1" width="70" height="70" viewport="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <circle r="25" cx="35" cy="35" fill="transparent" stroke-dasharray="157.1" stroke-dashoffset="0" stroke="#ddd"></circle>
                                        <circle id="bar1" r="25" cx="35" cy="35" fill="transparent" stroke-dasharray="157.1" stroke-dashoffset="47.13" stroke="#007bff"></circle>
                                    </svg>
                                </div>
                                <!-- Add more circles for each module -->
                            </div>
                            <div class='week-progress card'>
                                <h3>This Week's Hours</h3>
                                <div class="progress">
                                    <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                            </div>
                            <div class="countdown-wrapper card">
                                <p class="countdown-title">Countdown to November 2:</p>
                                <p id="countdown"></p>
                            </div>
                            <div class='logout' style='position: absolute; bottom: 0px'></div>
                            <div class="link-to-zoom">
                                {% if live_class.is_active %}
                                    <a id="join-live-class-button-home" class="btn btn-primary" onclick="window.open('{{live_class.url}}', '_blank'); window.location.href='live-class/'">Join Class</a>
                                {% endif %}
                            </div>
                        </div>

            
                        <!-- Tab 2 Content: Tasks -->
                        <div class="tab-pane fade" id="v-pills-profile">
                            <div class='tutor-checklist'>
                                <h5>Mentor tasks:</h5>
                                {% for task in tasks %}
                                    <input type="checkbox">
                                    <label>{{ task }}</label><br>
                                {% empty %}
                                    <p>You're all caught up.</p>
                                {% endfor %}
                                <p class='submit' id="subBtn" onclick="window.location.href='{% url 'submit-progress' %}'">Submit Progress</p>
                            </div>
                        </div>
                        
            
                        <!-- Tab 3 Content: Progress -->
                        <div class="tab-pane fade" id="v-pills-progress">
                            <h3>This week's UCAT plan:</h3>
                                {% if plan %}
                                {{weekly_plan}}
                                {% else %}
                                <p>Your tutor has not assigned you a plan, as of now.</p>
                                {% endif %}
                            {% comment %} <div class='days-counter'>
                                <span class='days'>
                                    {{days_to_master}}
                                </span>
                                <h5> days to master <i>Decision Making</i></h5>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class='content col-lg-10 col-md-10 col-sm-12 col-xs-12'>
                {% block body %}
                {% endblock %}
                <script>
                    function join_live_class_overLay(url){
                        document.getElementById("page-overlay").style.display = ''
                        document.getElementById('join-live-class-button-overlay').onclick=function(){
                            window.open(url, "_blank");
                            window.location.href='live-class/';
                        }
                        document.getElementById('join-live-class-button-home').onclick=function(){
                            window.open(url, "_blank");
                            window.location.href='live-class/';
                        }
                    }

                    function updateQuestionButton(questionId) {
                        location.reload() 
                    }

                    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
                    const chatSocket = new WebSocket(
                        protocol
                        + '{{ws_host}}'
                        + '/ws/{{ws_route}}'
                    );


                    chatSocket.onmessage = function(e) {
                        console.log("Message Receieved")
                        const data = JSON.parse(e.data);
                        console.log(data)
                        if(data.type == "signal"){
                            console.log(data.meeting_join_url)
                            if(data.message == "LCST"){
                                join_live_class_overLay(data.meeting_join_url)
                            }
                        }

                        document.querySelector('.message-log').innerText += (data.message + '\n');
                        
                        if (data.message === 'The live class has ended.') {
                            window.location.href = '/dashboard/';
                        }

                        if (data.type == 'question_unlocked') {
                            updateQuestionButton(data.question);
                        }
                    }

                    
                    
                </script>
            </div>
            
        </div>
    </div>
    <div class="message-log">

    </div>
    
        {% block page-overlay %}
        {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        // Get today's date
        let today = new Date();

        // Get the next November 2
        let yearOfNextNov = (today.getMonth() == 10 && today.getDate() > 2) ? today.getFullYear() + 1 : today.getFullYear();
        let nextNov = new Date(yearOfNextNov, 10, 2);

        // Calculate the difference in seconds between now and November 2
        let diffInSeconds = Math.floor((nextNov - today) / 1000);

        let countdownDisplay = document.getElementById('countdown');

        setInterval(function() {
            if(diffInSeconds <= 0) return;

            // Calculate the days, hours, minutes and seconds
            let days = Math.floor(diffInSeconds / (60 * 60 * 24));
            let hours = Math.floor(diffInSeconds / (60 * 60)) % 24;
            let minutes = Math.floor(diffInSeconds / 60) % 60;
            let seconds = diffInSeconds % 60;

            // Update the countdown
            countdownDisplay.innerHTML = days + " days, " + hours + " hours, " + minutes + " minutes, " + seconds + " seconds";

            // Decrease the diffInSeconds
            diffInSeconds--;
        }, 1000);
    </script>
