{% extends 'interview-student-base.html' %}
{% load static %}
{% load formatting %}
{% block head %}
<title>Class Page</title>
<link rel="stylesheet" href="{% static 'css/interview-class.css' %}" type="text/css"/>
<style>
    .lesson-plan-row {
        border: 1px solid #ddd;
        transition: all 0.3s;
    }

    .lesson-plan-row:hover {
        background-color: #f6f6f6;
    }

    .launch-btn {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .launch-btn:hover {
        background-color: #45a049;
        color: white;
    }
</style>

{% endblock %}


{% block body %}

<div class='class-page container-fluid tutor-dashboard interview-class'>
    
    <div class='row'>
        
        <div style="margin: 0 0" class='content col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2 id='class-page-learn-h2'>{{class.name}}</h2>
            <div class="row">
                {% for student in class.students.all %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{student.user}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Assigned Tasks:</h6>
                            {% for task in student.tasks%}
                            <p class="card-text">- {{task}}</p>
                            {% endfor %}
                            <br/>
                            
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ student.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                    Problems
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ student.id }}">
                                    {% for problem in unsolved_problems %}
                                        {% if problem.student == student %}
                                        <li>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a class="dropdown-item" href="#" style='font-size: 10px'>{{ problem.problem | break_after_n_chars:20|linebreaks }}</a>
                                                <button class="btn btn-outline-success btn-sm" onclick="markAsSolved({{ problem.id }})">Solved</button>
                                            </div>
                                        </li>
                                        {% endif %}
                                    {% empty %}
                                        <li><a class="dropdown-item" href="#">No problems reported</a></li>
                                    {% endfor %}
                                  </ul>
                              </div>
                            <p class="card-text">{{student.problems}}</p>
                            <div class='row'>
                                <h6 class="col-lg-6 card-subtitle mb-2" style='color: darkorange' onclick='assign_task({{student.id}})'>Assign New Task</h6>
                                <h6 class="col-lg-6 card-subtitle mb-2" style='color: darkorange' onclick='window.location.href="evidence-of-work/{{student.id}}"'>See evidence of work</h6>
                            </div>
                            
                            <script>
                                function assign_task(studentId){
                                    task = prompt("New task: "+studentId);
                                    window.location.href = "?new_task="+task+"&task_student="+studentId;
                                }
                            </script>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <table>
                <tr>
                    <th>
                        Lesson Plan Name:
                    </th>
                    <th>
                        Action
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                {% for lesson_plan in lesson_plans %}
                    <tr class="lesson-plan-row">
                        <td>{{ lesson_plan.name }}</td>
                        <td>{{ lesson_plan.description }}</td>
                        <td>
                            {% if lesson_plan.has_active_class %}
                                <a class="btn btn-success">In Progress</a>
                            {% else %}
                                <a href="javascript:;" onclick="launchClass({{ class.id }}, {{ lesson_plan.id }})" class="btn btn-primary launch-btn">Launch</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                {% if active_class %}
                    <a href="{{active_class_url}}">Re join</a>
                {% endif %}

                <script>
                    function launchClass(classId, lessonPlanId) {
                    var zoomLink = prompt("Please enter the full Zoom join link:");

                    // If the user pressed 'cancel' or entered an empty link, don't proceed.
                    if (zoomLink === null || zoomLink.trim() === "") {
                        return;
                    }

                    // To ensure that the passed Zoom link is valid and prevent any potential security risks, 
                    // you might want to add some basic validation here, e.g., check if the link starts with "https://zoom.us/". 
                    // This step is optional but recommended.
                    // if (!zoomLink.startsWith("https://zoom.us/")) {
                    //     alert("Please enter a valid Zoom link.");
                    //     return;
                    // }

                    // Construct the URL with the zoomLink.
                    var url = `{% url 'live_class' class_id='CLASS_ID_PLACEHOLDER' lesson_plan_id='LESSON_PLAN_ID_PLACEHOLDER' %}`;
                    url = url.replace("CLASS_ID_PLACEHOLDER", classId).replace("LESSON_PLAN_ID_PLACEHOLDER", lessonPlanId) + `?zoom_link=${encodeURIComponent(zoomLink)}`;

                    // Redirect the user to the URL.
                    window.location.href = url;
                }
                </script>

            </table>

        </div>
        
        
    </div>
</div>
<script>
    function markAsSolved(problemId){
        window.location.href="?solved="+problemId
    }
</script>
{% endblock %}