{% extends 'interview-student-base.html' %}
{% load static %}

{% block body %}
<div class="live-class-section">
    <div class="cards-section">
        <div class="top-bar">
            <br/>
            <br/>
        </div>
        <div class="row one">
            <div class="col-md-6 one">
                <div class="carder">
                    Lessons 3/8
                </div>
            </div>
            <div class="col-md-6 two">
                <div class="carder" onclick="window.location.href='select-question?type=question'">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><p>View Question</p>
                 </div>            
            </div>
        </div>
        <div class="row two">
            <div class="col-md-6 three">
                <div class="carder" onclick="window.location.href='select-question?type=lesson'">
                    <i class="fas fa-clipboard"></i><p>Lessons 3/8</p> 
                </div>
            </div>
            <div class="col-md-6 four">
                <div class="carder" onclick="window.location.href='select-question?type=feedback'">
                    <i class="fas fa-clipboard"></i><p>View Feedback</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="message-log">
    <!-- We'll append messages to this div using JavaScript -->
</div>

<script>
    const chatSocket = new WebSocket(
        'ws://'
        + '192.168.8.112:8001'
        + '/ws/interview/live-class/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('.message-log').innerText += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


</script>

{% endblock %}