{% extends 'interview-student-base.html' %}
{% load static %}

{% block body %}
<div class="live-class-section">
    <div class="cards-section">
        <div class="top-bar">
            <br/>
            <br/>
        </div>
        <div class="row one">
            <div class="col-md-6 one">
                <div class="carder">
                    Lessons 3/8
                </div>
            </div>
            <div class="col-md-6 two">
                <div class="carder">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><p>Lessons 3/8</p>
                 </div>            
            </div>
        </div>
        <div class="row two">
            <div class="col-md-6 three">
                <div class="carder">
                    <i class="fas fa-clipboard"></i><p>Lessons 3/8</p> 
                </div>
            </div>
            <div class="col-md-6 four">
                <div class="carder">
                    <i class="fas fa-clipboard"></i><p>Lessons 3/8</p>
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}