{% extends 'base.html' %}
{% block head %}
<title>Tutor Strategy Documents</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block body %}
<div class='strategy-docs container-fluid tutor-strategy-docs'>
    <div class='row'>
        <div class='content col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2>Resource Documents</h2>
            <div class="accordion">
                {% for folder, files in folder_files.items %}
                    <div class="accordion-header">{{ folder }}</div>
                    <div class="accordion-content">
                        <ul>
                            {% for file in files %}
                                <li><a href="{{ file.url }}" target="_blank">{{ file.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.accordion-header').on('click', function() {
            $(this).toggleClass('active').next('.accordion-content').slideToggle();
        });
    });
</script>
{% endblock %}