{% extends 'base.html' %}
{% block head %}
<title>Dashboard</title>
{% endblock %}
{% block body %}
<div class='dashboard container-fluid tutor-dashboard'>
    <div class="logout-container">
        <p style='display: inline; color: #ccc; font-size: 0.8rem;'>Logged in as {{request.user}}</p> <button class='logout-btn' onclick='window.location.href="{% url 'logout' %}"'>Logout</button>
    </div>
    <div class='row'>
    
        <div class='content col-lg-10 col-md-10 col-sm-12 col-xs-12'>
            <h2 id='dashboard-learn-h2'>{{time_greeting}}, {{request.user}}</h2>

            <h3>Ucat classes</h3>
            
            <div class="row class-slots ucat">
                {% for class in classes %}
                    {% if forloop.counter <= 3 %}
                        <div class="col-md-4 mb-4">
                            <div class="card class-slot" onclick='window.location.href="/tutors/dashboard/class/{{class.pk}}"'>
                                <div class="card-body">
                                <h5 class="card-title">{{class.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{class.tutor}}</h6>
                                <p class="card-text">{{class.notes}}</p>
                                <ul class="list-group list-group-flush">
                                    {% for student in class.students.all %}
                                        <li class="list-group-item">{{student}}</li>
                                    {% endfor %}
                                </ul>
                                <br/>

                                <!-- Add zoom and discord links/icons here -->
                            <a target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
                            <!-- <a href="/live_class/1/1/" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i></a> -->

                            <a href="discord-link" target="_blank"><i class="fab fa-discord"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% for i in '012'|make_list %}
                    {% if forloop.counter <= amount_of_empty_classes %}
                        <div class="col-md-4 mb-4 class-slot">
                            <div class="card add-class-card class-slot" onclick='window.location.href="/tutors/dashboard/add_class/"'>
                                <div class="card-body">
                                    <h5 class="card-title text-center">+</h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <h3>Interview classes</h3>
            
            <div class="row class-slots interview">
                {% for class in interview_classes %}
                    {% if forloop.counter <= 3 %}
                        <div class="col-md-4 mb-4">
                            <div class="card class-slot" onclick='window.location.href="/interview/class/{{class.pk}}/"'>
                                <div class="card-body">
                                <h5 class="card-title">{{class.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{class.tutor}}</h6>
                                <p class="card-text">{{class.notes}}</p>
                                <ul class="list-group list-group-flush">
                                    {% for student in class.students.all %}
                                        <li class="list-group-item">{{student}}</li>
                                    {% endfor %}
                                </ul>
                                <br/>

                                <!-- Add zoom and discord links/icons here -->
                                <a href="{% url 'create-zoom-meeting' %}" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
                                <a href="discord-link" target="_blank"><i class="fab fa-discord"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% for i in '012'|make_list %}
                    {% if forloop.counter <= amount_of_empty_interview_classes %}
                        <div class="col-md-4 mb-4 class-slot">
                            <div class="card add-class-card class-slot" onclick='window.location.href="/tutors/dashboard/add_class/"'>
                                <div class="card-body">
                                    <h5 class="card-title text-center">+</h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            


        </div>
        <div class='sidebar-standard col-lg-2 col-md-2 col-sm-12 col-xs-12'>
            <div class='sidebar-content'>
                <br/>
                <div class='heading'>
                    <h3>Mentor Resources</h3>
                </div>
                <div class='strategy-document-link'  onclick = 'window.location.href="/tutors/dashboard/tutor-strategies/"'>
                    <div class='redirect-box'>
                        <h4>Strategy Document</h4>
                        <p>Access the latest strategy document here</p>
                    </div>
                </div>
                <div class='tutor-resources-link' onclick = 'window.location.href="/tutors/dashboard/tutor-resources/"'>
                    <div class='redirect-box'>
                        <h4>Tutor Resources</h4>
                        <p>Find helpful resources for tutors here</p>
                    </div>
                </div>
                
                <br/>
                
                <p class='submit' onclick='window.location.href="raise-issue/"'>Escalate</p>
            </div>
            
        </div>
    </div>
</div>
<script>
    // document.getElementById("page-overlay").style.display = 'none'

    var wsHost = "{{ ws_host }}"; 

    if (!wsHost) {
        wsHost = window.location.host;
    }

    console.log(wsHost);

    const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';

    const chatSocket = new WebSocket(
        protocol
        + wsHost
        + '/ws/tutors/dashboard/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if(data.signal == "LCST"){
            overLay()
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>

{% endblock %}