@font-face {
    font-family: 'montage';
    src: url('../fonts/montage.otf')  format('truetype');
  }

body{
    font-family: 'Montserrat';
    cursor:default;
}

.dashboard{
  background-color: #111111;
  min-height: 100vh;
  position: relative;
}

#dashboard-learn-h2{
  color: white;
}

.dashboard .content{
  color: rgb(191, 191, 191);
  padding-top: 10vh;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard .content .main-container{
  padding: 0 0;
  margin: 0 0;
  background-color: #1E1E1E;
  cursor: pointer;
  transition: transform 0.4s, background-color 0.4s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.dashboard .content .main-container:hover{
  background-color: #343434;
  transform: translateY(-10px);
}

.dashboard .content .main{
  padding: 20px 0;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.dashboard .content .section-title{
  width: fit-content;
}

.section-title h1{
  font-size: 50px;
  text-align: center;
}

.dashboard .content .main .skills-mastered .heading{
  font-size: 18px;
  color: #ccc;
  margin: 0 0;
}

.dashboard .content .main .skills-mastered .bigger{
  font-size: 30px;
  padding: 0 0;
  margin: 0 0;
  color: white;
}

.dashboard .content .main .skills-mastered .smaller{
  padding: 0 0;
  margin: 0 0;
}

.dashboard .start-dates{
  padding: 10vh 0;
}

.dashboard .start-dates .container .row .card_{
  margin: 20px 0;
  border-left: solid #1E1E1E;
  transition: border-color 0.4s;
}

.dashboard .start-dates .container .row .card_:hover {
  border-color: #343434;
}

.dashboard .sidebar{
  background: linear-gradient(to bottom, #1E1E1E 0%, #111111 100%);
  color: rgb(191, 191, 191);
  padding: 20px;
  min-height: 100vh;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  }
  
  .dashboard .sidebar .redirect-box {
  background-color: #1E1E1E;
  color: #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.4s, background-color 0.4s, box-shadow 0.4s;
  }
  
  .dashboard .sidebar .redirect-box:hover {
  transform: translateY(-5px);
  background-color: #343434;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  }
  
  .dashboard .sidebar .redirect-box h4 {
  color: darkorange;
  margin-bottom: 5px;
  }
  
  .dashboard .sidebar .redirect-box p {
  font-size: 14px;
  }
  
  .dashboard input[type='checkbox']{
  accent-color: darkorange;
  }
  
  .dashboard .student-checklist input[type='text']{
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: solid #343434 0.5px;
  }
  
  .dashboard .student-checklist .remove-item{
  cursor: pointer;
  color: darkorange;
  }
  
  .dashboard .student-checklist .add-item{
  cursor: pointer;
  }
  
  .dashboard .sidebar .submit{
  color: darkorange;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 13px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s, border-radius 0.4s;
  }
  
  .dashboard .sidebar .submit:hover {
  background-color: #343434;
  }
  
  .dashboard .sidebar .days-counter .days{
  font-size: 50px;
  }

/* Start Course - Page */
.course-page {
  background-color: #1e1e1e;
  min-height: 100vh;
  color: #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-area h1 {
  color: #ccc;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.header-area .nav {
  font-size: 1.1rem;
}

.header-area .nav span {
  color: darkorange;
  cursor: pointer;
}

.thumbnail {
  margin: 20px 0px;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #343434;
}

.thumbnail:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Added box-shadow */
}

.thumbnail .play-button, .thumbnail .lock {
  position: relative;
}

.thumbnail .play-button::after, .thumbnail .lock::after {
  width: 50px; /* Increased the size */
  height: 50px; /* Increased the size */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbnail .play-button::after {
  content: "";
  background-image: url("../img/play-button.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.thumbnail .lock::after {
  content: "";
  background-image: url("../img/lock-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.thumbnail .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-title {
  font-size: 1.1rem;
  color: #ccc;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
  word-wrap: break-word;
  max-width: 100%;
  padding-bottom: 15px;
}
/* Start Course - Page */

/* .course-page{
    background-color: #111111;
    min-height: 100vh;
    color: #ccc;
}

.thumbnail{
    padding: 20px 0px;
    cursor: pointer;
    transition: transform 0.4s;
}

.thumbnail:hover{
    transform: translateY(-10px);
}

.thumbnail .play-button {
    position: relative;
    
}
  
.thumbnail .play-button::after {
    content: "";
    background-image: url("../img/play-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail .lock {
    position: relative;
    
}
  
.thumbnail .lock::after {
    content: "";
    background-image: url("../img/lock-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}  */


/* End Course - Page */

/* Start Course Video */
.course-video{
    min-height: 100vh;
    background-color: #111111;
    color: #ccc;
    padding: 30px 0;
}

.course-video .middle-content video{
    width: 100%;
    margin: 10px 0;
}

.course-video .task-container .task{
    margin: 10px 0;
    
}

.course-video .task-container .task .col-lg-8{
    
    padding: 30px;
    background-color: #1E1E1E;
}

.course-video .task-container .task .col-lg-8 .submit{
    color: darkorange;
    background-color: #343434;
    display: inline-block;
    width: fit-content;
    padding: 7px 13px;
    border-radius: 3px;
    margin: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

.course-video .form-check-input:checked {
    background-color: darkorange;
    border-color: darkorange;
}

.course-video .helpful-links{
    margin: 30px 0;
}
  .course-video .icon-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1E1E1E; 
    color: white; 
    margin: 0 auto 10px; 
    transition: background-color 0.4s;
    cursor: pointer;
}

  .course-video .icon-circle:hover{
    background-color: #343434;
  }

  .course-video .icon-text {
    text-align: center;
  }

  .course-video .helpful-links .col-lg-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

/* Start chat forum */

/* .question-forum .d-flex .d-flex .d-flex{
  background-color: #1E1E1E;
} */

.question-forum textarea{
  background-color: #131313;
  border: none;
  outline: none;
  color: #ccc;
}

.question-forum textarea:focus{
  background-color: #131313;
  border: none;
  outline: none;
}

.question-forum .d-flex .d-flex{
  background-color: #1E1E1E;
}

.question-forum .bdge {
  height: 21px;
  background-color: orange;
  color: #fff;
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px;
}

.question-forum .comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.question-forum .commented-section .datetime{
  color: #424242;
}

.question-forum .reply-section *{
  padding-right: 10px;
}

.question-forum .reply-section h6{
  color: darkorange;
  cursor: pointer;
}

.question-forum .dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  display: inline-block;
  visibility: hidden;
}

.question-forum .hit-voting:hover {
  color: darkorange;
}

.question-forum .hit-voting {
  cursor: pointer;
}

.question-forum .btn-primary{
  background-color: rgba(0,0,0,0);
  border: none;
  color: darkorange;
}

.comment {
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.comment .commented-user {
  color: #fff;
  font-weight: normal;
}

.comment .dot {
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: none;
}

.comment .datetime {
  color: #ccc;
}

.comment .comment-text-sm {
  margin-top: 5px;
}

.comment .upvotes {
  margin-left: 5px;
  margin-right: 10px;
}

.comment .hit-voting {
  color: #ccc;
  margin-right: 5px;
  cursor: pointer;
}

.comment .reply-section {
  margin-top: 10px;
  margin-top: 0;
}

.comment .reply-section h6 {
  color: #fff;
  cursor: pointer;
}

.comment .upvote-section {
  display: flex;
  align-items: center;
}

.comment .upvote-section .triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.comment .upvote-section .upvotes {
  color: #ccc;
  margin-right: 10px; 
}

.reply {
  margin-left: 15px;
  padding-left: 15px;
  border-left: solid #343434;
  padding-bottom: 30px;
}
/* End chat forum */
/* Experimental */
 /* #myVideo {
    width: 100%;
    height: auto;
    background-color: #1E1E1E;
  }
  
  #myVideo::-webkit-media-controls {
   / display: none; *
  }
  
  #myVideo::-webkit-media-controls-enclosure {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 8px;
    background-color: #1E1E1E;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  }
  
  #myVideo::-webkit-media-controls-play-button {
    color: darkorange;
    font-size: 18px;
  }
  
  #myVideo::-webkit-media-controls-play-button::before {
    content: "►";
  }
  
  #myVideo::-webkit-media-controls-pause-button {
    color: darkorange;
    font-size: 18px;
  }
  
  #myVideo::-webkit-media-controls-pause-button::before {
    content: "❚❚";
  }
  
  #myVideo::-webkit-media-controls-timeline {
    height: 5px;
    width: 100%;
    background-color: #444;
    border-radius: 4px;
    margin: 0 8px;
  }
  
  #myVideo::-webkit-media-controls-timeline::-webkit-media-slider-thumb {
    background-color: darkorange;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    margin-top: -6.5px;
  }
  
  #myVideo::-webkit-media-controls-current-time-display,
  #myVideo::-webkit-media-controls-time-remaining-display {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  
  #myVideo::-webkit-media-controls-mute-button,
  #myVideo::-webkit-media-controls-volume-slider,
  #myVideo::-webkit-media-controls-fullscreen-button {
    color: darkorange;
  }
  
  #myVideo::-webkit-media-controls-mute-button::before {
    content: "🔇";
  }
  
  #myVideo::-webkit-media-controls-unmute-button::before {
    content: "🔊";
  }
  
  #myVideo::-webkit-media-controls-fullscreen-button::before {
    content: "⛶";
    font-size: 18px;
  }
  
  #myVideo::-webkit-media-controls-volume-slider {
    height: 5px;
    width: 80px;
    margin-right: 8px;
    margin-left: 8px;
  }
  
  #myVideo::-webkit-media-controls-volume-slider::-webkit-media-slider-thumb {
    background-color: darkorange;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    margin-top: -6.5px;
  } */


/* End Experimental */

/* End Course Video */



/* Start Tutor Dashboard */
  

    .tutor-dashboard .card {
        background-color: #111111;
        color: white;
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.4s, background-color 0.4s, box-shadow 0.4s;
        cursor: pointer;
    }

    .tutor-dashboard .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  }

    .tutor-dashboard .card-title {
        color: darkorange;
    }
    .tutor-dashboard .card-subtitle {
        color: #1E1E1E;
    }
    .tutor-dashboard .card-text {
        color: rgba(255, 255, 255, 0.8);
    }
    .tutor-dashboard .list-group-item {
        background-color: #1E1E1E;
        color: rgba(255, 255, 255, 0.8);
        border: none;
        transition: all 0.4s;
    }

    .tutor-dashboard .list-group-item:hover {
      background-color: #131313;
      color: rgba(255, 255, 255, 1);
  }

    .tutor-dashboard .card-link {
        color: darkorange;
        text-decoration: none;
    }

    .issue-form {
      padding-top: 10vh;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    
    .issue-form h4 {
      color: white;
      margin-bottom: 10px;
    }
    
    .issue-form h6 {
      color: #ccc;
      margin-bottom: 5px;
    }
    
    .issue-form .form-select {
      background-color: #1E1E1E;
      color: white;
      border: none;
      border-radius: 3px;
      margin-bottom: 20px;
      width: 100%;
    }
    
    .issue-form .form-select:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
    
    .issue-form .form-control {
      background-color: #1E1E1E;
      color: white;
      border: none;
      border-radius: 3px;
    }
    
    .issue-form .form-control:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
    
    .btn-submit {
      background-color: darkorange;
      color: white;
      border: none;
      border-radius: 3px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.4s;
    }
    
    .btn-submit:hover {
      background-color: #f57c00;
    }

    @media screen and (max-width: 768px) {
      .issue-form {
        width: 100%; /* Reduce the width of the form */
        margin-top: 30px; /* Reduce the margin-top */
      }
    }

    /* Start Logout Button */
.logout-container {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1000;
}

.logout-btn {
  background-color: rgba(0,0,0,0);
  color: #ccc;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.logout-btn:hover {
  color: darkorange;
}
/* End Logout Button */
/* End Tutor Dashboard */
/* Tutor Strategy Documents */
.tutor-strategy-docs{
  background-color: #111111;
  min-height: 100vh;
  position: relative;
}

.tutor-strategy-docs h2{
  color: white;
  padding-top: 10vh;
  text-align: center;
}

.accordion {
  padding: 2rem;
}

.accordion-item {
  margin-bottom: 1rem;
}

/* .accordion-header {
  background-color: #1E1E1E;
  color: white;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.4s;
}

.accordion-header:hover {
  background-color: #343434;
}

.accordion-content {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.8);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
} */
.accordion-header {
  cursor: pointer;
  background-color: #1E1E1E;
  color: white;
  padding: 15px;
  border-bottom: 1px solid #343434;
  font-size: 18px;
  position: relative;
  width: 100%;
}

.accordion-content {
  display: none;
  background-color: #111111;
  color: #ccc;
  padding: 20px;
  border-bottom: 1px solid #343434;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  margin-right: 10px;
  transform: rotate(90deg);
  transition: transform 0.4s;
}

.triangle.toggled {
  transform: rotate(-90deg);
}

.accordion-header::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-left-color: darkorange;
  transition: transform 0.3s;
}

.accordion-header.active::after {
  transform: translateY(-50%) rotate(90deg);
}
/* End Tutor Strategy Documents */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}